div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Desafio FullStack
    p.lead Montar um sistema de chat preferencialmente usando meanstack.
    img(src='assets/images/egenius.png', alt='eGenius')

.container
  .row
    .col-lg-12
      h1.page-header Funcionalidades esperadas:
      
      ol
        li Construir uma API em node.js que deverará 
          ol
           li Criar uma sala de bate bapo
           li Permitir que usuarios troquem mensagens
        li Criar uma interface que permita
          ol
            li Criar uma sala de chat
            li Postar mensagens
            li Exibir as mensagens que foram postadas
        li BDD/TDD será um diferencial

    a.btn.btn-primary(href='/rooms') Visualizar desafio

footer.footer
  .container
    